#### Notebook Basics

* *Itallic* <br>
* **Bold and Ittalic** 
* ***Bold and Itallic***
* Normal Text 
    * Sublist 1
    * Sublist 2
    
    
> 1. Ordered list element 1
> 2. Ordered list element 2

<ol>
    <li>Tea</li>
    <li>Milk</li>
</ol>

- [ ] Option 1
<>
- [ ] Option 2 <br>





I get 10 times more traffic from [Google] [1] than from [yahoo] [2]
[1]: http://google.com/
[2]: http://search.yahoo.com/


<b>`printf("Hello markdown")`</b><br>
<https://google.com> <br>
<markdown@google.com>





[Jupyter logo](index.png)
![Jupyter logo](index.png)
<img src ="index.png" style="float:left">

# Python Basics

### Python  version 3.7

- Scripting
- Object Oriented 
- Fuctional

In [2]:
# Pytjon Comments
print("Hello \nGood Afternoon !") # Basic Output
print("Hello Python")
print("Good afternoon","!",end=" ")
print("Hello Python")
print("Good afternoon","!",end="|| ")
print("Hello Python")

Hello
Good Afternoon !
Hello Python
Good afternoon ! Hello Python
Good afternoon !|| Hello Python

### Assignment

In [3]:
n1 = 123456 # single variable assignment
# n1

n2=n3=n4=n1        # multivariable assignment of the same value
# n2,n3,n4


a,b,c= 122,234,345 #Multivariable Assignment with different values
# a,b,c

# a
# b
# c # last value only print by this bcz kernel will execute last line...scripting language if want print a,b,c

print (a,b,c)

122 234 345

### Data Types and Type Conversion
 
- int
- float
- string

In [24]:
type(a)
s1="Python"
type(s1)

f1=1.22
f1
type(f1)
int(f1)

str(int(f1))
float(str(int(f1)))

1.0

### Arithemetic Operations

- +
- -
- ** 
- *
- /
- %

In [28]:
n1=1
n2=n1*2
type(n2)
len(str(n3))
print(n2)

atoms=10**82
type(str(atoms))
#len(str(atoms))


122321 ** 999

2

6130687873308026945890176790042303730066739281

### Conditionals Checking

In [41]:
atoms < 10 ** 99 
atoms < 10 ** 72 # In built boolean expressions where starting letter is capital

if atoms > 10 ** 96:
    print("TRUE") # here true is not boolean value .it just what we printed
else:
    print("FALSE ")

FALSE

In [ ]:
# Check if a number is even

n=123
if(n%2==0):
       print("even")
else:
      print("odd")

# find the greatest of three numbers

In [4]:
n1 =int(input ("enter the first number"))
n2= int(input ("enter the second number"))
n3 = int(input("enter the third number"))

if(n1>n2 and n1>n3):
    print(n1,"is the greatest")
elif n2 >n3:
    print(n2,"is the greatest")
else:
    print(n3,"is the greatest")

enter the first number-1
enter the second number-50
enter the third number-100
-1 is the greatest

In [6]:
#given number is leap or not

n=eval(input("Enter the number"))
if(n%400==0 or n%100!=0 and n%4==0):
    print("Leap")
else:
    print("Odd value")

Enter the number2020
Leap

In [1]:
###  check if a number exists in a given range

n1=int(input("enter the num"))
lb=int(input("Enter the lower bound"))
up=int(input("enter the upper bound"))
for i in range(lb,up):
       if(n1==i):
           print("matched")
       else:
           print(" ")
  
""" if(n1>lb and n1<up)"""

enter the num4
Enter the lower bound1
enter the upper bound10



matched

In [2]:
# calucate the number of digits in a number

n=input("enter the n")
len(n)

enter the n2345

4

In [4]:
# check if a number is multiple of 10

n=int(input("Enter the n1"))
if(n%10==0):
    print(n,"is 10 multiple")
else:
    print(n,"is not a 10 multiple")

Enter the n130
30 is 10 multiple

In [ ]:
# check if a number is a factor of 1000
n=int(input("Enter the n1"))
if(n%1000==0):
    print(n,"is 10 multiple")
else:
    print(n,"is not a 10 multiple")

In [ ]:
# calculate the square root of a number without math functions

n=int(input("Enter n"))

In [20]:
# calculate the number of nano seconds  in a given year (considering leap year logic)

n=int(input("Enter the n"))
if(n%400==0 or n%100!=0 and n%4==0):
    print(n,"is leap year ",366*24*60*60*(10**9))
else:
    print(n,"is oddanary year ",365*24*60*60*(10**9))

Enter the n2016
2016 is leap year  31622400000000000